.profile-containet
{
    /* border:1px solid red; */
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    gap:30px;
    width:90%;
}

.profile-photo
{
    /* border:1px solid green; */
    display:flex;
    flex-direction: row;
    /* align-items: center; */
    gap:10px;
}
.image-profile-photo
{
    /* border:1px solid green; */
    display: flex;
    justify-content:space-between;
    width:150px;
    margin-top: 10px;
}
.download-photo
{
    width: 64px;
    height: 64px;
    background-color: #ddd;
    border-radius: 4px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container
  {
    display:flex;
    justify-content:space-between;
    width:100%;
  }

  .delete-box
  {
    background-color: white;
    height: 25px;
    width:25px;
    border-radius: 100px;
    position: relative;
    right:15px;
    bottom:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
  }

  /*  */
  /* .mymobile {
    border: 1px solid black;
    height: 600px;
    scrollbar-width: 0px;
    background-image: url(images/mobile.png);
    background-size: 100% 100%;
  } */

  .carousel-item img {
    width: 16%;
    margin: 2%;
  }

  .accordion-body{
    padding: 20px;
  }

  .mobile {
    border: 7.5px solid #021d48;
    border-radius: 30px;
    width: 20rem;
    height: 40rem;
    overflow: hidden;
    margin-top: 20px;
    position: sticky;
    top: 10px;
  }

  iframe {
    width: 105.9%;
    height: 103%;
    transform: translateY(-30px);
  }

  .notch {
    height: 30px;
    width: 100px;
    background-color: #021d48;
    margin: auto;
    border-radius: 15px;
    position: relative;
    z-index: 200;
    transform: translateY(-17px);
  }

  span.translate-middle{
    z-index: 1000;
  }

  .dropdown-toggle::after{
    margin-left: 1.5em;
    display: none;
  }

  .publish{
    background: url(images/publish.svg);
  }

  @media only screen and (max-width: 600px) {

    .mobile{
      width: 100%;
      height: 560px;
    }

    .qr-sharing-btn{
      display: none;
    }
  }

